* {
  margin: 0;
}

.menuCentral {
  display: block;
  width: 100%;
  position: fixed;
  height: 80px;
  color: #fff;
  z-index: 10;
  margin: auto;
  background: linear-gradient(180deg, #F58948 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #E8B54F 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #034147 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #94CBD1 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #00A1A1 99.99%, rgba(3, 65, 71, 0) 100%);
}

#menu-button {
  display: none;
}

header label {
  display: none;
  width: 20px;
  height: 30px;
  padding: 10px;
}

li:hover {
  cursor: pointer;
  background: rgba(13, 192, 224, 0.705);
  height: 80px;
}

.menu ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.menu li:hover {
  background: rgba(13, 192, 224, 0.705);

}

.menu li a {
  display: block;
  padding: 20px 30px;
  color: #fff;
  text-decoration: none;
  font-family: 'Viga', sans-serif;
  flex-grow: 2;
  text-align: center;
}

/*RESPONSIVE - MENU*/
@media (max-width:768px) {
  .menuCentral {
    height: 50px;
  }

  header label {
    display: block;
  }

  .menu {
    position: absolute;
    width: 40%;
    margin-left: -60%;
    background: linear-gradient(180deg, #F58948 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(180deg, #E8B54F 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(180deg, #034147 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(180deg, #94CBD1 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(180deg, #00A1A1 99.99%, rgba(3, 65, 71, 0) 100%);
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border: 1px solid #fff;
  }

  #menu-button:checked~.menu {
    /*cuando el menu-button tenga el checked va busca en html, la clase menu y va seleccionar todo lo que contenga esa clase*/
    margin: 0;
  }

  .icon {
    position: fixed;
    top: -2.5px;
    right: 60px;
    height: 80px;

 }
}

@media only screen and (min-width: 1070px){
  .menuCentral{
    font-size: 24px;
  }
}

