<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Traveling Soul ✈ </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>
<body>
    <header class="header">
      <div class="container logo-nav-container">
        <a href="#" class="logo"></a>
        <nav class="sitio-web">
          <ul>
          <li><a href="#"><span class="fas fa-home sitio-web--icon"> Inicio</span></a></li>
          <li><a href="#"><span class="fas fa-user-circle"> Profile</span></a></li>
          <li><a href="#"><span class="fas fa-power-off"> Cerrar sesión</span></a></li>
        </ul>
        </nav>
        </div>
  </header>
  <section></section>
  <footer></footer>

  <script type="module" src="menuProfile.js"></script>
</body>
</html>