<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav  id="menu">
            <ul>
                <li class="home-header"><a href="#/home"><span class="the-home"><i class="fas fa-home">Inicio</span></a></li>
                <li class="profile-header"><a href="#/home"><span class="the-home"><i class="fas fa-user-circle">Perfil</span></a></li>
                <a href="#/home"><img src="img/airplane.png" class="icon"></a></li>
                <li class="logOut-header"><a href="#/home"><span class="the-home"><i class="fas fa-sign-out-alt">Cerrar sesión</span></a></li>
            </ul>
        </nav>
    </header>
    <script type="text/JavaScript" src="menucito.js"></script>
</body>
</html> -->