.the-user {
  display: flex;
  justify-content: space-around;

  padding-top: 70px;
}

.profile {
  display: none;
}

.default-avatar {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 30px;
  top: 70px;
  border-radius: 100px;
}

.border--avatar {
  border: solid 3px transparent;
  border-radius: 100px;
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
}

.border--user {
  border: solid 2px transparent;
  border-radius: 100px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.default-user {
  display: flex;
  width: 35px;
  height: 35px;
  margin: 8px 8px 8px 30px;
  border-radius: 100px;
}

.namePost {
  margin: 20px 0px 0px 10px;
  font-size: 18px;
  padding: 0px 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.name {
  margin: 20px 0px 20px 120px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.this-name {
  display: flex;
  flex-wrap: wrap;
  height: 15px;
  left: 129px;
  top: 78px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.division {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.userContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px 0px 4px 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#text-post {
  position: absolute;
  margin-top: -130px;
  margin-left: 45px;
  width: 70%;
  height: 18%;
  text-align: center;
  padding: 35px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  box-sizing: border-box;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.text-post {
  position: absolute;
  margin: 40px 20px 20px 25px;
  width: 60%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background-color: #fdfbfb;
  border: 1px solid rgba(139, 138, 138, 0.28);
}

.card {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 170px;
  border: 1px solid rgb(187, 185, 185);
  border-radius: 10px;
  box-shadow: 5px 5px 6px #c2ebf5;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.new-post {
  display: flex;
  justify-content: center;
}

#photo {
  position: absolute;
  left: 75px;
  top: 237px;
}

#buttonImage {
  position: absolute;
  margin-top: -4%;
  margin-left: 65%;
  border: rgb(162, 200, 243) 2px solid;
  border-radius: 10px;
  font-size: 16px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.card {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 170px;
  border: 1px solid rgb(187, 185, 185);
  border-radius: 10px;
  box-shadow: 5px 5px 6px #c2ebf5;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}

.window-delete {
  width: 55%;
  top: 40%;
  left: 20%;
  border: 1px solid gray;
  border-radius: 5px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  position: fixed;

  padding: 10px;
  display: none;
}

.column {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

#corazon {
  margin-top: 20px;
  font-size: 15px;
  height: 30px;
  width: 40px;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 4px 4px orange;
  cursor: pointer;
}

.edit-text-post {
  top: 50%;
  left: 20%;
  border: 1px solid gray;
  border-radius: 5px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  position: fixed;

  padding: 20px;
  display: none;
}

@media (max-width: 768) {
  label {
    display: block;
  }
  .menu-post-content {
    flex-direction: column;
  }
}

.window-delete {
  width: 55%;
  top: 40%;
  left: 20%;
  border: 1px solid gray;
  border-radius: 5px;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  position: fixed;

  padding: 10px;
  display: none;
}

.likes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-size: 18px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
  margin-left: 20px;
  margin-right: 20px;
}

#corazon {
  margin-top: 20px;
  font-size: 15px;
  height: 30px;
  width: 40px;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 4px 4px orange;
  cursor: pointer;
}

#corazon:hover {
  background-color: #fda085;
}

/*Menu de Edita y Eliminar*/

.editando {
  width: 4px;
}

/*----------*/

.btn-menu-post {
  color: #2cab92;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btn-menu-post:hover,
.btn-menu-post:focus {
  background-color: rgba(44, 171, 146, 0.5);
  color: #2b7a75;
  border-radius: 50%;
  /* display: inline-block; */
  text-align: center;
  /* line-height: 1.3rem; */
  /* width: 1.2rem; */
}

.menu-post-content {
  display: none;
  position: absolute;
  background-color: #e6ffff;
  min-width: 60px;
  /* overflow: auto; */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.356);
  right: 0;
  z-index: 1;
  font-size: 14px;
}

.menu-post-content li {
  color: #2b7a75;
  /* padding: 5px 10px; */
  display: block;
  cursor: pointer;
  list-style: none;
  padding: 5px 5px 5px 5px;
}

.show {
  display: block;
}
