.the-user {
    padding-top: 70px;
}

.default-avatar {
    position: absolute;
    width: 61px;
    height: 62px;
    left: 36px;
    top: 78px;
    border-radius: 100px;
}

.default-user {
    display: flex;
    width: 38px;
    border-radius: 50px;
}

.name {
    position: absolute;
    height: 30px;
    left: 129px;
    top: 78px;
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.this-name {
    display: flex;
    flex-wrap: wrap;
    height: 15px;
    left: 129px;
    top: 78px;
    font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

#text-post {
    position: absolute;
    width: 264px;
    height: 67px;
    left: 56px;
    top: 163px;

    border: 1px solid rgba(0, 0, 0, 0.28);
    box-sizing: border-box;

}

#photo {
    position: absolute;
    left: 75px;
    top: 237px;
}

#buttonImage {
    position: absolute;
    left: 75px;
    top: 260px;
}




.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 20px 20px 20px;
    border: gray 3px solid;
}



.column {
    padding-top: 50px;

}

.form-group {
    display: flex;
    padding-top: 150px;
}

.edit-text-post {
    background: blue;
    position: absolute;
    left: 30%;
    padding: 20px;
    display: none;
}


#window-delete {
    background: green;
    position: absolute;
    left: 30%;
    padding: 20px;
    display: none;
}